.header {
  min-height: 40vh;
  background: url(/public/hero_image.png) center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 6em;
    color: var(--mainBg);
  }
}
.footer {
  width: 100%;
  padding: 5rem 0;
  background: var(--footerBg);
  color: var(--unknow);
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.flex {
  display: flex;
  gap: 25px;
}
.me {
  display: flex;
  align-items: center;
  a {
    color: var(--unknow);
    margin: 0 0.5rem;
    text-decoration: none;
    border-bottom: var(--secondText) solid 1px;
    transition: all 0.3s linear;
  }
  a:hover {
    color: var(--secondText);
    border-bottom: 1px solid #ffffff00;
  }
}
.icons {
  a {
    color: var(--unknow);
  }
}
.bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.3s linear;
  a {
    color: var(--mainBg);
  }
  &:hover {
    color: var(--secondText);
  }
}
