.header {
  min-height: 40vh;
  background: url(/hero_image.png) center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 6em;
    color: var(--mainBg);
  }
}
.footer {
  width: 100%;
  padding: 5rem 0;
  background: var(--footerBg);
  color: var(--unknow);
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.flex {
  display: flex;
  gap: 25px;
}
.me {
  display: flex;
  align-items: center;
  a {
    color: var(--unknow);
    margin: 0 0.5rem;
    text-decoration: none;
    border-bottom: var(--secondText) solid 1px;
    transition: all 0.3s linear;
  }
  a:hover {
    color: var(--secondText);
    border-bottom: 1px solid #ffffff00;
  }
}
.icons {
  a {
    color: var(--unknow);
  }
}
.bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.3s linear;
  a {
    color: var(--mainBg);
  }
  &:hover {
    color: var(--secondText);
  }
}
.count {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondText);
  border-radius: 50%;
  font-size: 0.8em;
}

/*! fucking responsive */
@media only screen and (max-width: 1500px) {
  .header {
    min-height: 35vh;
    h2 {
      font-size: 5em;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .header {
    min-height: 30vh;
    h1 {
      font-size: 4em;
    }
  }
}
@media only screen and (max-width: 800px) {
  .header {
    min-height: 25vh;
  }
}
@media only screen and (max-width: 650px) {
  .header {
    min-height: 20vh;
    h1 {
      font-size: 2em;
    }
  }
}
