:root {
  --mainText: #f5f5f5;
  --secondText: #ff9800;
  --mainBg: #272b33;
  --secondBg: #3c3e44;
  --footerBg: #202329;
  --success: #00cf00;
  --danger: #ff0000;
  --unknown: #9e9e9e;

  background: var(--mainBg);
  color: var(--mainText);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  min-height: 100vh;
}
a {
  color: var(--mainText);
  transition: color 0.3s linear;
  text-decoration: none;
}
a:hover {
  color: var(--secondText) !important;
}
.characters {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1.5rem 1.5rem;
  grid-template-areas: ". . .";
}
.alive {
  color: var(--success);
}
.dead {
  color: var(--danger);
}
.unknown {
  color: var(--unknown);
}
.true {
  svg {
    color: var(--secondText);
  }
}
.title {
  padding: 0rem .4rem;
  width: 95%;
  margin: 3rem auto 2rem;
  border-left: 4px solid var(--secondText);
}
